<h1>Here are all of <%= @doctor.name() %> patients:</h1>

<% if @patients.any?() %>
<h3> Active Patients:</h3>

<ul>
  <% @patients.each() do |patient| %>
    <li><%= patient.name() %></li>
  <% end %>
</ul>

<% else %>

<p>
  There are no patients yet!
</p>

<% end %>

<a href="patients/new">Add a Patient</a>
