<h1>Add a doctor:</h1>

  <form action="/doctors" method="post">
    <div class="form-group">
      <label for="doctor_name">Enter doctor's name:</label>
      <input type="text" name="doctor_name" id="doctor_name" required>
      <label for="specialty">Enter the doctor's specialty:</label>
      <input type="text" name="specialty" id="specialty" required>
    </div>
    <button type="submit" class="button btn" name="submit">Submit</button>
  </form>
