<h1>Welcome Admistrator</h1>

<div class ="container">
    <a href="/doctors"><button class="button btn">View the lists of doctors</a>
    <a href="/doctors/new" class="button btn">Add a doctor</a>
</div>
