<h1>Your entry has been successfully created!</h1>

<p><a href="/doctors">View the lists of doctors</a></p>
<p><a href="/doctors/<%= @doctor.id()%>">Go to <%= @doctor.name() %></a></p>
<p><a href="/">Home</a></p>
